.button {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1%;
  width: 20%;
  height: 3rem;

  border-style: solid;
  border-radius: 0.5em;

  background-color: lightgray;
  cursor: pointer;

  &:hover {
    background-color: lightblue;
      background-color: lightgreen;
  }

  &:active {
    background-color: darkgray;
  }

  &.invalid {
    &:hover {
      background-color: rgb(240, 106, 106);
    }
  }
}
